*           {margin: 0; list-style-type: none;}
a           {text-decoration: none;}

/* CSS FOR CLASS="TOP" */
header         {background-color: gainsboro;}
.top           {width: 1365px; background-color: blue;  margin:0 auto;}
.top_wrap      {width: 940px; height: 80px; margin: 0 auto; background-color: white; border: 1px solid yellow; display: block;}
.top_welcome   {width: 289.95px; height: 20px; font-size: 14px; border: 1px solid black; margin-top: 35px; float: left;}
.top_container {width: 110px; height: 40px; display: inline-block; margin: 20px 120px; background:url(/pics/nyc_transparent.png) no-repeat center center; background-color: darkblue;}
.top_links     {width: 284px; height: 20px; font-size: 14px; border: 1px solid black; margin-top: 35px; float: right;}
.top_element   {height: 15px; display: inline-block;}
#gif01         {margin-bottom: -3px;}

/* CSS FOR CLASS="NAV" */
.nav        {width: 1365px; background-color: magenta;  margin:0 auto; box-sizing: border-box}
.nav_bar    {width: 940px; height: 45px; border: 1px solid yellow; margin: 0px auto; background-color: white;}
.nav_bar>a  {font-size: 16px; font-weight: 700 !important; font-family: Arial, sans-serif; color: #333; border-right: 1px solid #d5d5d5; display: inline-block; padding: 13.5px 20px 13.5px 14px; vertical-align: middle;}
.nav_bar>a.home {width: 20px; padding: 10px 20px 5px 17px; text-align: center}
.nav_search {display: inline;}
#search_bar {position: relative; width: 152px; height: 25px; background-color: white; font-size: 14px; font-family: sans-serif; font-weight: 700 !important; margin: 10px -30px 0px 2px; padding-left: 8px; padding-right: -50px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;}
#magnifier  {position: absolute; width: 20px; height: 20px; padding-top: 12px; margin-bottom: -5px;}

/* CSS FOR CLASS="SLIDER" */
.slider       {background-color: darkblue; box-sizing: border-box;}
.main       {width: 1365px; background-color: chocolate; margin: 0 auto;}
.main_wrap {width: 940px; height: 507px; margin: 0 auto; background-color: darkblue; border: 1px solid yellow;}
.side_nav {width: 100px; height: 460px; display: inline-block; border: 1px solid lawngreen; background-color: ghostwhite; margin: 20px 10px 30px 0px; padding: 0px; vertical-align: top;}
.side_nav>span {display:block; border: 1px solid black; text-align: center;}
.iconText {font-size: 10px;}
.more {vertical-align: middle; border: 1px solid black; margin: 10px;}
#moreBtn {display: block; width: 70px; height: 27px; background-color: black; padding: 10px 10px 0px 0px; text-align: center; vertical-align: middle; border-radius: 5px; color: white; font-weight: bold; font-size: 10px; background-image: url(/pics/link_arrow.png); background-position: right 45%;background-repeat: no-repeat;}
.main_content {width: 820px; height: 460px; display: inline-block; border: 1px solid lawngreen; margin: 20px 0px 30px 0px; padding: 0px; vertical-align: top; background-color: black; position: relative; overflow: hidden;}
#mainImg {width: 600px; height: 400.5px; border: 1px solid yellow; opacity: 0.8;}
.main_text {width: 600px; height: 210px; border: 1px solid white; position: absolute; margin-top: -158px; offset}
.main_text>a, p {color: white; padding: 0px;}
#mainH2 {padding: 20px;}
.main_btn {color: white; background-color: transparent; font-size: 36px; line-height: 38px; background-image: url(/pics/link_arrow2.png); background-position: 100% 60%; background-repeat: no-repeat; padding-right: 20px; font-weight: bold;}
.main_text>p {color: white; margin-bottom: 10px; font-size: 16px;}
.side_text {width: 220px; height: 450px; display: inline-block;border: 1px solid crimson; position: absolute; margin-bottom: 20px !important; margin-top: 10px !important}
.side_text>span {position: absolute; width: 200px; height: 32px; top: -2.3px; right: -1px; border: 1px solid green; color: white; padding-left: 38px; line-height: 30px; background: url(/pics/big_arrow.png) no-repeat; font-size: 13px; font-weight: 500;}
.side_text>div {border: 1px solid blue; margin: 30px 15px;}
.side_text>div>a {color: white; font-size 16px; line-height: 22px}

/* CSS FOR SLIDE EFFECT */
#next {background-color: #1BAA95; color: white; cursor: pointer; padding: 5px; width: 100%;}
#slides {position: relative; list-style-type: none; margin-left: -48px;}
.left {position: absolute; top: -15px; background-color: #164656; color: white; cursor: pointer; padding: 10px; margin: 5px 0; margin-left: -100%; min-width: 100%; transition: all 0.5s;}
.center {position: absolute; top: -15px; background-color: #164656; color: white; cursor: pointer; padding: 10px; margin: 5px 0; margin-left: 0%; min-width: 100%; transition: all 0.5s;}
.right {position: absolute; top: -15px; background-color: #164656; color: white; cursor: pointer; padding: 10px; margin: 5px 0; margin-left: 100%; min-width: 100%; transition: all; }


.content        {background-color: crimson;}
.fir_content    {width: 1365px;; height: 1462px; background-color: darkblue; margin: 0 auto;}


.sec_content    {width: 1365px;; height: 1195px; background-color:deeppink; margin: 0 auto;}


footer          {background-color:cornflowerblue;}
footer .yellowFooter    {width:1365px; height: 400px; background-color: yellow; margin: 0 auto; }
footer .blackFooter     {width:1365px; height:184px; background-color: black; margin: 0 auto; }
