
*           {margin: 0; list-style-type: none;}
a           {text-decoration: none;}

header     {background-color: gainsboro;}
.top       { width: 1365px; background-color: blue;  margin:0 auto;}
.top_wrap  {width: 940px; height: 80px; margin: 0 auto; background-color: white; border: 1px solid yellow; display: block;}
#welcome {width: 289.95px; height: 20px; font-size: 14px; display: inline-block; vertical-align: middle; border: 1px solid black; margin-top: -60px;}
#container {width: 110px; height: 40px; background:url(/pics/nyc_transparent.png) no-repeat center center; background-color: blue; display: inline-block; margin: 20px 120px;}
#hLinks {width: 284px; height: 20px; font-size: 14px; vertical-align: middle; border: 1px solid black; margin-top: 35px; float: right;}
.hLinkElement {height: 15px; display: inline-block;}
#gif {margin-bottom: -3px;}

.nav       { width: 1365px; background-color: magenta;  margin:0 auto;}
.nav_bar   {width: 940px; height: 45px; margin: 0px auto; background-color: white; border: 1px solid yellow; display:block;}
.nav_bar>a {border: 1px solid black; display: inline; padding: 10px; vertical-align:middle; margin: 10px 10px 0px; text-align: right;}
#home {vertical-align:sub}
#navForm {display: inline;}
#search {width: 112px; height: 25px; padding-right: -50px; margin-right: -30px; margin-bottom: 20px; border: 0.5px solid gray; border-radius: 5%;}
#magnifier {padding-top: 12px; margin-bottom: -5px;width: 20px; height: 20px;}

.carousel       {background-color: darkblue; box-sizing: border-box;}
.main       {width: 1365px; background-color: chocolate; margin: 0 auto;}
.main_wrap {width: 940px; height: 507px; margin: 0 auto; background-color: blue; border: 1px solid yellow;}
.main_content {width: 820px; height: 460px; display: inline-block; border: 1px solid lawngreen; margin: 20px 0px 30px 0px; padding: 0px; vertical-align: top; background-color: black; position: relative;}
.mainImg {width: 600px; height: 400.5px; border: 1px solid yellow; opacity: 0.8;}
.mainText {width: 600px; height: 210px; border: 1px solid white; position: absolute; margin-top: -158px;}
.mainText>* {color: white; padding: 0px;}
.mainH2 {padding: 20px;}
.mainBtn {color: white; background-color: transparent; font-size: 36px; line-height: 38px; background-image: url(/pics/link_arrow2.png); background-position: 100% 60%; background-repeat: no-repeat; padding-right: 20px; font-weight: bold;}
.mainText>p {color: white; margin-bottom: 10px; font-size: 16px;}
.sideText {width: 220px; height: 450px; display: inline-block;border: 1px solid crimson; position: absolute; margin-bottom: 20px !important; margin-top: 10px !important}
.sideText>span {position: absolute; width: 200px; height: 32px; top: -2.3px; right: -1px; border: 1px solid green; color: white; padding-left: 38px; line-height: 30px; background: url(/pics/big_arrow.png) no-repeat; font-size: 13px; font-weight: 500;}
.sideText>div {border: 1px solid blue; margin: 30px 15px;}
.sideText>div>a {color: white; font-size 16px; line-height: 22px}
.side_nav {width: 100px; height: 460px; display: inline-block; border: 1px solid lawngreen; background-color: ghostwhite; margin: 20px 10px 30px 0px; padding: 0px; vertical-align: top;}
.side_nav>span {display:block; border: 1px solid black; text-align: center;}
.iconText {font-size: 10px;}
.more {vertical-align: middle; border: 1px solid black; margin: 10px;}
.moreBtn {display: block; width: 70px; height: 27px; background-color: black; padding: 10px 10px 0px 0px; text-align: center; vertical-align: middle; border-radius: 5px; color: white; font-weight: bold; font-size: 10px; background-image: url(/pics/link_arrow.png); background-position: right 45%;background-repeat: no-repeat;}
/*
.moreBtn { width: 20px; height: 20px;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-image: url(/assets/home/images/global/link-arrow-white-withoffset13.png);
    background-position: right 45%;
    color: blue;}
*/





.content        {background-color: crimson;}
.fir_content    {width: 1365px;; height: 1462px; background-color: darkblue; margin: 0 auto;}


.sec_content    {width: 1365px;; height: 1195px; background-color:deeppink; margin: 0 auto;}


footer          {background-color:cornflowerblue;}
footer .yellowFooter    {width:1365px; height: 400px; background-color: yellow; margin: 0 auto; }
footer .blackFooter     {width:1365px; height:184px; background-color: black; margin: 0 auto; }
