<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuriel.mybatis.mapper.memberMapper">

	<insert id="insertOne"
			parameterType="com.yuriel.mybatis.model.Member"
			useGeneratedKeys="true"
			keyProperty="id">
		insert into test_member (EMAIL, PASSWORD, NAME, PHOTO) values (#{email}, #{password}, #{name}, #{photo})
	</insert>

	<select id="selectOne" resultType="com.yuriel.mybatis.model.Member">
		select * from test_member where email = #{whatever};
	</select>

	<select id="selectList" resultType="com.yuriel.mybatis.model.Member">
		select * from test_member order by id
	</select>
</mapper>