<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>starkhaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet to create the connection pool</description>
    <servlet-name>DBCPInit</servlet-name>
    <servlet-class>connector.DBCPInit</servlet-class>
    <init-param>
      <description>JDBC Driver</description>
      <param-name>jdbcdriver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <description>JDBC URL</description>
      <param-name>jdbcUrl</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
    </init-param>
    <init-param>
      <description>Oracle DB User Name</description>
      <param-name>dbUser</param-name>
      <param-value>Yuriel</param-value>
    </init-param>
    <init-param>
      <description>Oracle DB User Password</description>
      <param-name>dbPassword</param-name>
      <param-value>Sapph1r3</param-value>
    </init-param>
    <init-param>
      <description>Name of the connection pool</description>
      <param-name>poolName</param-name>
      <param-value>connections</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.controller.Controller</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/commandHandler.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>com.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/OpenProject/emp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/OpenProject/user/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>CharEncodingFilter</filter-name>
    <filter-class>com.filter.CharEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>