<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuriel.persistence.UserMapper">
	<insert id="createUser">
		insert into users (email, name, pw, auth, authCode) values (#{vo.email}, #{vo.name}, #{vo.pw}, 0, #{authCode})
	</insert>
	
	<select id="login" resultType="UserVO">
		select * from users US left outer join users_attach CH on US.ID = CH.ID where email = #{email} and pw = #{pw}
	</select>
	
	<select id="selectOne" resultType="UserVO">
		select * from users where email = #{email}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from users
	</select>
	
	<select id="selectUsers" resultType="UserVO">
		select * from (select * from users order by users.ID asc) as sub where ID limit #{frontRow}, #{countPerPage}
	</select>
	
	<select id="selectAllUsers" resultType="UserVO">
		select * from (select * from users order by users.ID asc) as sub
	</select>
	
	<insert id="addAttach">
		insert into users_attach (fullName, ID) values (#{imgName}, LAST_INSERT_ID())
	</insert>
	
	<delete id="deleteAttach">
		delete from users_attach where ID = #{ID}
	</delete>
	
	<delete id="deleteUser">
		delete from users where ID = #{ID}
	</delete>
	
	<update id="modifyUser">
		update users set email=#{email}, pw=#{pw}, name=#{name} where ID=#{id} 
	</update>
</mapper>